<%- include('../partials/header') %>

<h3><%= devskill.devskill %></h3>
<h3>Complete: <%= devskill.done ? 'Yes' : 'No' %></h3>
<a href="/devskills/<%= devskill.id %>/edit">Edit Dev-Skill</a>

<%- include('../partials/footer') %>
